.about-page {
  .left-side {
    margin-top: 10vh;

    color: black;
    text-align: left;
  }

  .fadein {
    opacity: 0;
    margin-top: 10vh;

    @include animation(fadein 2s);
    @include animation-fill-mode(forwards);
  }

  .title {
    @include animation-delay(0.7s);
    font-size: 44px;
    font-weight: bold;
    margin-top: 0;
  }

  .subtitle {
    @include animation-delay(2.2s);
    font-size: 33px;
    margin-top: 0;
  }

  .subsubTitle {
    @include animation-delay(3.6s);
    font-size: 15px;
    margin-top: 0;
  }

  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .heading {
    @include animation-delay(3.6s);
    text-align: center;
    margin-top: 0;

    .animated__logo {
      width: 100px;
      background-color: #6611f1;
      display: inline-block;
      margin: 2em;
      border-radius: 30% 70% 70% 30% / 70% 70% 30% 30%;
      animation: organic 15s infinite alternate ease-in-out;
    }

    @keyframes organic {
      0% {
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
      }
      25% {
        border-radius: 70% 30% 30% 70% / 70% 70% 30% 30%;
      }
      50% {
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
      }
      100% {
        border-radius: 70% 30% 30% 70% / 70% 70% 30% 30%;
      }
    }
  }
}
